{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="/">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block title %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

  <script>
    function change() {
      var x = document.getElementsByTagName("table");
      var i;
      if (x[0].style.color=="blue") {
        for (i=0;i<x.length;i++) {
          x[i].style.color = "white";
          x[i].style.backgroundColor = "rgba(52, 58, 64, 1)"
        }
      } else {
        for (i=0;i<x.length;i++) {
          x[i].style.color = "blue";
          x[i].style.backgroundColor = "#89CFF0"
        }
      }
    }
  </script>
</body>