{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Anggrio Wildanhadi Sutopo's Confirmation Page</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">
        <strong>Please confirm your name and status</strong>
    </h1>
    <h3 id="name">Name: {{ name }}</h3>
    <h3 id="status">Status: {{ status }}</h3>
    <form method="POST" action="{% url 'confirmationPage' %}">
        {% csrf_token %}
        <input type="hidden" name="name" id="id_name" value="{{ name }}">
        <input type="hidden" name="status" id="id_status" value="{{ status }}">
        <br>
        <div class="text-right">
            <button id="back">Go Back</button>
            <input class="submit_button" type="Submit" name="continue" value="Submit Status" style="display: inline-block;" />
        </div>
    </form>
</div>
{% endblock %}