{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Anggrio Wildanhadi Sutopo's Status Page</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">
        <strong>Hello, how are you?</strong>
    </h1>
    <form method="POST" action="{% url 'confirmationPage' %}">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
        <label for="{{ form.status.id_for_label }}">Status</label>
        {{ form.status }}
        <br>
        <div class="text-right">
            <button type="submit" name="confirm">Submit Status</button>
        </div>
    </form>
    <div class="text-left">
        <button id="change" onclick="change()">Change Color</button>
    </div>
    <h1 class="text-center">
        Status
    </h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" style="width: 25%">Name</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for s in status %}
            <tr>
                <td id="storedName">{{ s.name }}</th>
                <td id="storedStatus">{{ s.status }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}